@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Apricot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Apricot", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="affix" id="sidebar" data-spy="affix">

                        @if (User.IsInRole("Employee"))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">
                                            Employee
                                        </a>
                                        <a href="#" class="list-group-item">My Bills</a>
                                        <a href="#" class="list-group-item">New Bill</a>
                                        <a href="#" class="list-group-item">Notification</a>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (User.IsInRole("Manager"))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">
                                            Manager
                                        </a>
                                        <a href="#" class="list-group-item">Bills</a>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (User.IsInRole("Finance Manager"))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">
                                            Finance Manager
                                        </a>
                                        <a href="#" class="list-group-item">Bills</a>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">
                                            Admin
                                        </a>
                                        <a href="~/Account/Index" class="list-group-item">Manage Users</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            @RenderBody()

            @if (Request.IsAuthenticated)
            {
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Apricot</p>
                </footer>
            }
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $("[data-toggle='popover']").popover();
        });
    </script>
</body>
</html>
