@model IEnumerable<Apricot.Web.Models.BillViewModel>

@{
    ViewBag.Title = "My Bills";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillSCopy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeOfPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillSCopy)
            </td>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserName }) |
                    @Html.ActionLink("Roles", "UserRoles", new { id = item.UserName }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserName })
                </td>*@
        </tr>
    }
</table>
