@model Apricot.Web.Models.FullEmployee

@{
    ViewBag.Title = "Create";
    List<SelectListItem> departments = new List<SelectListItem>(0);
    foreach (var department in ViewBag.DepartmentList)
    {
        departments.Add(new SelectListItem() {Text=department, Value=department });
    }

    List<SelectListItem> Genders = new List<SelectListItem>(0);
    Genders.Add(new SelectListItem() { Text = "Male", Value = "Male" });
    Genders.Add(new SelectListItem() { Text = "FeMale", Value = "Female" });
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FullEmployee</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Emp_No, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emp_No)
                @Html.ValidationMessageFor(model => model.Emp_No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emp_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emp_Name)
                @Html.ValidationMessageFor(model => model.Emp_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Active)
                @Html.ValidationMessageFor(model => model.Is_Active)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emp_Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emp_Address)
                @Html.ValidationMessageFor(model => model.Emp_Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emp_Contact_No, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emp_Contact_No)
                @Html.ValidationMessageFor(model => model.Emp_Contact_No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emp_Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Emp_Gender, Genders)
                @Html.ValidationMessageFor(model => model.Emp_Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Department.Dept_Name, departments)
                @Html.ValidationMessageFor(model => model.Department)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
