<div class="affix" id="sidebar" data-spy="affix">
    @if (User.IsInRole("Employee") && !User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <a class="list-group-item active">Employee</a>
                    @Html.ActionLink("My Bills", "Index", "Employee", null, new { @class = "list-group-item" })
                    @Html.ActionLink("New Bill", "Create", "Employee", null, new { @class = "list-group-item" })
                    @Html.ActionLink("Notifications", "Notifications", "Employee", null, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole("Manager") && !User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <a class="list-group-item active">Manager</a>
                    @Html.ActionLink("Manage Bills", "Index", "Manager", null, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole("Finance Manager") && !User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <a class="list-group-item active">Finance Manager</a>
                    @Html.ActionLink("Manage Bills", "Index", "FManager", null, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    @Html.ActionLink("Admin", "Index", "Dashboard", null, new { @class = "list-group-item active" })
                    @Html.ActionLink("Manage Users", "Index", "Account", null, new { @class = "list-group-item " })
                    @Html.ActionLink("Manage Department", "Index", "Department", null, new { @class = "list-group-item " })
                    @Html.ActionLink("Manage Employee", "Index", "ManageEmployee", null, new { @class = "list-group-item " })
                </div>
            </div>
        </div>
    }

</div>
